$ pip install pygame
$ pip install time
$ pip install framework.constants
$ pip install framework.framework
$ pip install framework.images
$ pip install framework.player
$ pip install framework.bullet
$ pip install random
$ pip install numpy
$ pip install sys
$ pip install os
